############################
# Java / Maven
############################
target/
*.class
*.jar
*.war
*.ear

############################
# Node.js / NPM
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Logs & Crash Reports
############################
*.log
*.pid
hs_err_pid*
replay_pid*

############################
# IDE / Editor Files
############################

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

############################
# OS / System Files
############################
.DS_Store
Thumbs.db

############################
# Images (optional)
############################
me.jpg
*.jpg

############################
# Misc
############################
.env
